//$theme_indigo: #3E5B79;
$theme_color1: #F3BD91;
$theme_color2: #3E5B79;
$theme_color3: #FD9301;
$theme_color4: #2E2A39;
$theme_color5: #FD9301;
$theme_color6: #FFA686;

$theme_indigo: #315c8b;
$theme_banner: #4a4a4a;
$theme_turquoise: #A2D4CB;
$theme_white: #FCFCFC;
$theme_warmgrey: #E4E0DD;
$theme_copper: #C16206;
$theme_beige: #D4BAA3;
$theme_darkgrey: #4f4f4f;
$theme_titlebg: $theme_indigo;
$theme_titlebg2: #E3D096;
$theme_title:$theme_banner; 
$theme_title2: #53929B; 